doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Index page
		include @util/_favicons.html
		link(rel="stylesheet", href="../scss/index.scss")
	body 
		script(src="../js/index.js") 
